  /* reset  */
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* root */
:root{
    --color-text:   #234894;
    --color-body: #1E1E1E;
    --color-box: #AFCEDD;
    --color-secondary-text: #696969;
    --color-button: #219F95;
    --color-white: #FFFFFF;

}
html{
    font-size: 62.5%;
}
h1 , h2{
  font-weight: 700;
  color: var(--color-body);
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 1.6rem;
}
h3{
  font-size: 1.4rem;
  color: var(--color-text);
}
h4{
  font-size: 1rem;
  color: var(--color-secondary-text);
}
button{
  font-size: 1.4rem;
}
p{
  font-size: 1.4rem;
}
@media screen and (min-width:768px) {
  h1{
    font-size: 2.2rem;
  }
  h2{
    font-size: 1.8rem;
  }
  h3{
    font-size: 1.6rem;
  }
  h4{
    font-size: 1.2rem;
  }
  button{
    font-size: 1.6rem;
  }
  p{
    font-size: 1.6rem;
  }
}
/* CONTAINER */
.container{
  max-width: 1450px;
  margin: 0 auto;
}
/* button */
.btn{
  border: none;
  outline: none;
  padding: 2rem 1.5rem;
  border-radius: 10px;
}
.btn.btn--primary{
  background-color: var(--color-button);
  color: var(--color-white);
}

/* badge */
.badge{
  background-color: var(--color-box);
  border-radius: 6px;
  color: var(--color-text);
  font-size: 2rem;
  padding: .7rem 1.5rem;
}
.header{
  margin: 3rem 5rem ;
}
/* panel */

.panel{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 3rem;
}
.panel__item{
  padding: 2.5rem;
}
.item__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__list{
  display: flex;
  align-items: center;
}
.header__list h3{
  padding-right: 1rem;
}
.item__content{
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.item__footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__avatar{
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}
.footer__avatar img{
  width: 50px;
  height: 50px;
  border-radius: 8px;
}
.footer__avatar p{
  font-weight: 700;
  padding: .8rem;
}

@media screen and (min-width:768px) {
  .panel{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width:1024px) {
  .panel{
    grid-template-columns: repeat(3 , 1fr);
  }
  
}